//
// Mixins
// -------------------------------

=all-abs($dist: 0)
  position: absolute
  top: $dist
  right: $dist
  bottom: $dist
  left: $dist

=all-fix($dist: 0)
  position: fixed
  top: $dist
  right: $dist
  bottom: $dist
  left: $dist

=antialiasing($type:antialiased)
  -webkit-font-smoothing: $type
  font-smoothing: $type
  font-smooth: always

=display-flex
  display: flex
  flex-wrap: wrap
  &:after,
  &:before
    display: none
